.box-container {
  border: 10px solid white;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 760px;
}

header {
  text-align: center;
  border-bottom: 15px solid white;
  letter-spacing: 2px;
  font-size: 40px;
  color: #50504d;

  h1 {
    font-size: 6vw;
    margin-bottom: 0;
  }

  h2 {
    font-size: 4vw;
    color: white;
  }
}

nav.mainNavigation {
  flex: 1;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
  }

  ul a {
    text-decoration: none;

    &:link,
    &:visited {
      color: #339;
    }

    &:hover {
      color: #399;
    }

    &.active,
    &:active {
      color: #393;
    }
  }

  li {
    padding: 10px;
    padding: 20px 0;
    font-size: 25px;
  }
}

.img2 {
  max-width: 760px;
}
footer {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

// #403e34
// #aca69B
// #cec4b8
// #46595f
// #b3ab99

// #90908b
// #50504d
// #dcdbd5
// #9d9c97
// #767672
