
header {
  text-align: center;
  border-bottom: 5px solid #46595f;
  font-size: 40px;
  widows: 175px;
  color: #50504d;
  display: flex;
  justify-content: space-around;

  img {
    transform: rotate(20deg);
  }
}

.main1 {
  display: flex;
  justify-content: flex-start;

  ul {
    // border: 5px solid black;
    list-style-type: none;
    padding: 25px;
  }

  ul a {
    text-decoration: none;
  }

  li {
    padding: 10px;
    padding: 20px 0;
    font-size: 25px;
  }

  article {
    padding-left: 50px;
    padding-right: 20px;

    h2 {
      font-size: 35px;
      text-align: center;
    }

    img {
      border-radius: 10px;
    }
  }
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 20px;
}

// #403e34
// #aca69B
// #cec4b8
// #46595f
// #b3ab99

// #90908b
// #50504d
// #dcdbd5
// #9d9c97
// #767672
